{% extends "base.html" %}
{% block content %}
<h3 class="brown-text text-darken-4 center-align">Find your favourite book!</h3>
<div class="container">
    <div class="row">
        <div class="col s6">
            <img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
            alt="harry potter 1 book cover" draggable="false">
        </div>
        <div class="col s6">
           <h5>Harry Potter and the Philosopher’s Stone</h5>
           <h6>J.K.Rowling</h6>
           <p>ISBN:9788869183157</p>
           <p>First published June 26, 1997</p>
           <details>
            <summary> Harry Potter thinks he is an ordinary boy - until
                he is rescued by an owl, taken to Hogwarts School of Witchcraft and Wizardry,
                learns to play Quidditch and does battle in a deadly duel.
                The Reason ... HARRY POTTER IS A WIZARD! Find out some reviews!!
            </summary>
            <p> I think Harry Potter is a fantastic book!!</p>
                <p>I highly recommend it!</p>
        </details>
        </div>
    </div>
</div>
{% endblock %}
