{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s6">
            <form  action="{{ url_for('profile') }}" method="POST">
                <h3 class="brown-text text-darken-4 center-align">Sign Up</h3>
                <label for="fname">First Name:</label>
                <input id="fname" type="text" name="fname" class="validate" required>
                <label for="lname">Last Name:</label>
                <input id="lname" type="text" name="lname" class="validate" required>
                <label for="id_email">Email:</label>
                <input id="id_email" type="email" name="id_email" class="validate" required>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" class="validate" required>
                <input type="submit">
            </form>
        </div>
        <div class="col s6">
            <form  action="{{ url_for('profile') }}" method="GET">
                <h3 class="brown-text text-darken-4 center-align">Sign In</h3> 
                <label for="email">Email:</label>
                <input id="email" type="email" name="id_email" class="validate" required>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" class="validate" required>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}