{% extends "base.html" %}
{% block content %}
<!--Add Review to Books site-->
<h3 class="brown-text text-darken-4 center-align">New Review</h3>
<div class="container">
    <div class="row">
        <div class="col s12">
            <form method="POST" action="{{ url_for('add_review') }}">
                <fieldset> <legend class="color-input">Book Details</legend>
                    <!--Book review details as Title and Author-->
                    <label class="color-input" for="title"> Title: </label>
                    <input type="text" list="title-list" id="title" name="title" required>
                    <label class="color-input" for="author"> Author: </label>
                    <input type="text" list="author-list" id="author" name="author" required>
                    <label class="color-input" for="users_review"> Email: </label>
                    <input type="email" id="users_review"  name="users_review" required>
                    <label class="color-input" for="book_id">ISBN:</label>
                    <input type="number" list="isbn-list" id="book_id" name="book_id" required>

                </fieldset>
                <fieldset> <legend class="color-input">Tell us what you think about the book!</legend>
                    <!--Book review text and submit button-->
                    <label  class="color-input" for="review_text"> Review: </label>
                    <textarea name="review_text" id="review_text" required rows="10" cols="40"></textarea>
                    <button type="submit" class="btn-small #2e7d32 green darken-3">
                        Add Review <i class="fas fa-plus-square right"></i>
                    </button>
                </fieldset>
                <!--detail list for the Book Detail section-->
                <!-- I created a for loop to add all the book details from the database-->
                <datalist id="title-list">
                    {% for book in books %} <!--book title-->
                    <option value="{{book.title}}">{{ book.title }}</option>
                    {% endfor %}
                </datalist>
                <datalist id="author-list">
                    {% for book in books %} <!--book titile which it own author-->
                    <option value="{{book.author}}">{{ book.title }}</option>
                    {% endfor %}
                </datalist>
                <datalist id="isbn-list">
                    {% for book in books %} 
                    <!--book Id and title so it is easier for the user to identify-->
                    <option value="{{book.id_book}}">{{ book.title }}</option>
                    {% endfor %}
                </datalist>
               
            </form>
        </div>
    </div>
</div>
{% endblock %}