<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>We Love Reading</title>
</head>
<body>

    <header>
       
        <nav class="#3e2723 brown darken-4">
            <div class="nav-wrapper">
            <a href="{{url_for('home')}}" class="brand-logo">We❤️Reading</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                
                <li><a class="nav-style" href="{{url_for('home')}}">Home</a></li>
                <li><a class="nav-style" href="{{url_for('books')}}">Books</a></li>
                {% if session.get('logged_in') %}
                <li><a class="nav-style"href="{{url_for('profile')}}">Profile</a></li>
                <li><a class="nav-style" href="{{url_for('logout')}}">Log out</a></li>
                {% else %}
                <li><a class="nav-style" href="{{url_for('signup')}}">Log in/Sign Up</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
      
        <!--mobile sidenav-->
        
        <ul class="sidenav" id="mobile-demo">
            <li><a class="mobile-style" href="{{url_for('home')}}">Home</a></li>
            <li><a class="mobile-style" href="{{url_for('books')}}">Books</a></li>
            {% if session.get['logged_in'] %}
            <li><a class="mobile-style" href="{{url_for('profile')}}">Profile</a></li>
            <li><a class="mobile-style" href="{{url_for('logout')}}">Log out</a></li>
            {% else %}
            <li><a class="mobile-style" href="{{url_for('signup')}}">Log in/Sign Up</a></li>
            {% endif %}
        </ul>
       
    </header>

    <main class="container">
        
        {% block content %}
        <!-----all the content from other sites goes here-->
        {% endblock %}

    </main>

    <footer class="page-footer #3e2723 brown darken-4">
        <div class="footer-copyright">
            <div class="container">
                For educational purposes only
                <a class="white-text right" href="https://codeinstitute.net" target="_blank">&copy; Code Institute</a>
            </div>
        </div>
    </footer>



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    
</body>
</html>
