{% extends "base.html" %}
{% block content %}
<h3 class="brown-text text-darken-4 center-align">Find your favourite book!</h3>

{% for book in books %}
<div class="container">
    <div class="row book-row">
        <div class="col s12 m6 l6">
            <img class="book-img" src="{{ book.image}}"
            alt="harry potter 1 book cover" draggable="false">

        </div>
        <div class="col s12 m6 l6 book-content">
            <!--books details added in a for loop-->
           <h5>{{ book.title}}</h5>
           <h6>{{ book.author}}</h6>
           <p>ISBN:{{ book.id_book}}</p>
           <p>Date: {{book.year}}</p>
           <p>Genre: {{book.genre}}</p>
           <details class="book-text">
            <summary> 
                {{book.introduction}}
            </summary>
            <p> Reviews⭐:</p>
            <!-- if the review ISBN is the same as book review, 
                then it will add the comment to the right book-->
            {% for review in reviews %}
            {% if review.book_id == book.id_book  %}
            <p>{{review.users_review}}</p>
            <p>{{review.review_text}}</p>
            {%endif%}
            {% endfor %}
        </details>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
