{% extends "base.html" %}

{% block content %}


<h3 class="brown-text text-darken-4 center-align">What will you discover?</h3>
<div class="container">
    <div class="row">
        

        <div class="after-books col s6">
            <h5>Are you interested in any of these books?</h5>
            <p>Your next literary adventure awaits!
               Click <a href="{{url_for('books')}}">here</a> to explore the library and
               set sail on a journey through the pages of a good book.
            </p>
        </div>
        <div class="after-books col s6">
            <h5>Would you like to leave a review?</h5>
            <p> Please! Go ahead an create an account now for free! You just need to go
                straight <a href="{{url_for('signup')}}">here</a>.
            </p>
        </div>
        
        
    </div>
</div>
<h4 class="#1b5e20  darken-4 center-align">All Harry Potter books here!</h4>
<div class="body">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="sequence">
            <!---draggable img is equal to false so it works fine in firefox-->
            <img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
            alt="harry potter 1 book cover" draggable="false">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/5c/Harry_Potter_and_the_Chamber_of_Secrets.jpg"
            alt="harry potter 2 book cover" draggable="false">
            <img  src="https://upload.wikimedia.org/wikipedia/en/a/a0/Harry_Potter_and_the_Prisoner_of_Azkaban.jpg"
            alt="harry potter 3 book cover" draggable="false">
            <img  src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b6/Harry_Potter_and_the_Goblet_of_Fire_cover.png/220px-Harry_Potter_and_the_Goblet_of_Fire_cover.png"
            alt="harry potter 4 book cover" draggable="false">
            <img  src="https://upload.wikimedia.org/wikipedia/en/7/70/Harry_Potter_and_the_Order_of_the_Phoenix.jpg"
            alt="harry potter 5 book cover" draggable="false">
            <img  src="https://upload.wikimedia.org/wikipedia/en/b/b5/Harry_Potter_and_the_Half-Blood_Prince_cover.png"
            alt="harry potter 6 book cover" draggable="false">
            <img  src="https://upload.wikimedia.org/wikipedia/en/a/a9/Harry_Potter_and_the_Deathly_Hallows.jpg"
            alt="harry potter 7 book cover" draggable="false">
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div> 

<div class="container">
    <div class="row">
        <div class="after-books col s6">
          <h5>Deciding what to read next?</h5>
          <p>You’re in the right place. Tell us what titles or genres you’ve
             enjoyed in the past, and we’ll give you surprisingly insightful 
             recommendations.</p>
        </div>
        <div class="after-books col s6">
            <h5>What are your friends reading?</h5>
            <p>Chances are your friends are discussing their 
                favorite (and least favorite) books on We love Reading.
            </p>
        </div>
    </div>
</div>

<h4 class="#1b5e20  darken-4 center-align">Experience the most talked-about books from Anna Todd!</h4>

<div class="container">
    <div class="row">
        
        <div class="after-books col s12 m6 l6">
            <img src="https://upload.wikimedia.org/wikipedia/en/e/e8/After_2014_novel_cover.jpg"
            alt="After 1 book cover" draggable="false">
        </div>
        <div class="after-books col s12 m6 l6">
            <img src="https://upload.wikimedia.org/wikipedia/en/4/41/After_We_Collided_novel_cover.jpeg"
            alt="After 2 book cover" draggable="false">
        </div>
        <div class="after-books col s12 m6 l6">
            <img src="https://m.media-amazon.com/images/I/710zHnmzYlS._SL1500_.jpg"
            alt="After 3 book cover" draggable="false">
        </div>
        <div class="after-books col s12 m6 l6">
            <img src="https://m.media-amazon.com/images/I/71eeR6AxuJL._SL1500_.jpg"
            alt="After 4 book cover" draggable="false">
        </div>
        
    </div>
</div>
<script src="{{ url_for('static', filename='js/books.js')}}"></script>
{% endblock %}
